@import url("https://fonts.googleapis.com/css?family=Karla&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  color: #c9cacc;
  background-color: #1d1f21;
  font-size: 15px;
  font-family: "Karla", monospace;
  font-weight: 400;
  line-height: 1.725;
  text-rendering: geometricPrecision;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  margin: 0;
}
.container {
  margin-top: 4rem;
  margin-bottom: 4rem;
  margin: 4rem auto;
  padding: 0 1rem;
  width: 100%;
  max-width: 39rem;
  flex: 1;
}
.container h1 {
  letter-spacing: 0.01em;
  font-size: 1.5em;
  font-style: bold;
  font-weight: 700;
  color: #ffad00;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: block;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
.container h2 {
  position: relative;
  font-size: 1rem;
  font-weight: bold;
  text-transform: none;
  letter-spacing: normal;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  color: #eee;
  display: block;
}
.container ul {
  line-height: 1.725;
}
.container p {
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.container a {
  text-decoration: none;
  color: #c9cacc;
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: 100% 6px;
  background-image: linear-gradient(
    transparent,
    transparent 5px,
    #c9cacc 5px,
    #c9cacc
  );
}
.container a:hover {
  background-image: linear-gradient(
    transparent,
    transparent 4px,
    #d480aa 4px,
    #d480aa
  );
}
@media (max-width: 480px) {
  .container {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
@media (min-width: 480px) {
  p {
    text-align: justify;
  }
}
#header {
  max-width: 710px;
  width: 100%;
}
#header #title h1 {
  letter-spacing: 0.01em;
  font-size: 1.6rem;
  line-height: 1rem;
  font-style: normal;
  font-weight: 700;
  color: #c9cacc;
  margin-top: 0;
  margin-bottom: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
#header .social {
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  vertical-align: middle;
  margin-top: 16px;
}
#header .social li {
  display: inline-block;
  margin-right: 15px;
}
#header .social li a {
  text-decoration: none;
}
#header a {
  color: inherit;
  text-decoration: none;
  background: none;
}
#header #logo {
  float: left;
  margin-right: 20px;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: 50px 50px;
  border-radius: 5px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
#header:hover #logo {
  -webkit-filter: none;
  filter: none;
}
#header #post-details {
  letter-spacing: 0.01em;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 200;
  color: #666;
  margin-bottom: -32px;
}
@media screen and (max-width: 480px) {
  #header #title {
    padding-top: 9px;
    padding-bottom: 9px;
  }
}
.post-list {
  padding: 0;
}
.post-list .post-item {
  list-style-type: none;
  margin-left: 0;
  margin-bottom: 1rem;
}
.post-list .post-item .meta {
  display: block;
  font-size: 14px;
  color: #666;
  min-width: 100px;
  margin-right: 16px;
}
@media (min-width: 480px) {
  .post-list .post-item {
    display: flex;
    margin-bottom: 5px;
  }
  .post-list .post-item .meta {
    text-align: left;
  }
}
.post-list .post-item {
  list-style-type: none;
  margin-left: 0;
  margin-bottom: 1rem;
}
.post-list .post-item .meta {
  display: block;
  font-size: 14px;
  color: #666;
  min-width: 100px;
  margin-right: 16px;
}
@media (min-width: 480px) {
  .post-list .post-item {
    display: flex;
    margin-left: 1rem;
    margin-bottom: 5px;
  }
  .post-list .post-item .meta {
    text-align: left;
  }
}
.post-content {
  margin-top: 3rem;
}
#footer {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #666;
  font-size: 11px;
  max-width: 700px;
  width: 100%;
  margin: 0 auto 1rem auto;
  text-align: center;
}
@media (min-width: 39rem) {
  #footer {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #footer .footer-center {
    display: inline-block;
    margin: 0;
  }
}
.footer-center {
  margin: 16px 0;
}
.additional_link {
  display: inline-block;
  margin-top: 0;
  margin-right: 16px;
  min-width: 100px;
}
.additional_link a {
  color: #eee;
  padding: 4px 6px;
  font-size: 0.8rem;
  text-decoration: none;
  border-radius: 5px;
  background-color: #333;
  background-image: none;
}
.additional_link a:hover {
  background-image: none;
  background-color: #666;
}
.additional_link a:hover:not(.active) {
  color: #eee;
}
