@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 18px;
    color: #222;
    padding: 10px;
    max-width: 700px;
    min-width: 280px;
    text-align: justify;
    margin: 20px auto;
}
h1 {
    font-size: 28px;
    margin: 10px 0;
}
h2 {
    font-size: 26px;
    margin: 10px 0;
}
h3 {
    font-size: 24px;
    margin: 10px 0;
}
h4 {
    font-size: 22px;
    margin: 10px 0;
}
h5 {
    font-size: 20px;
    margin: 10px 0;
}
h6 {
    font-size: 18px;
    margin: 10px 0;
}
ul {
    line-height: 25px;
    margin-left: 20px;
}
a {
    color: #222;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
code {
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #FFA500;
    color: #666;
    page-break-inside: avoid;
    margin-bottom: 1.6em;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}
img {
    max-width: 100%;
}
table, th, td {
    border: 1px solid #FFA500;
}
th, td {
    padding: 6px;
}
blockquote {
    background: #EDEDED;
    border-left: 8px solid #FFA500;
    box-shadow: 0 3px 15px rgba(0,0,0,.15);
    color: #666;
    font-style: italic;
    margin: 16px auto;
    padding: 1.2em 30px 1.2em 30px;
    position: relative;
    width: 60%;
    z-index: 0;
    overflow: hidden;
}
blockquote p::before {
    color: #DDD;
    content: "\201C";
    font-size: 100em;
    line-height: 0.65em;
    right: .1em;
    position: absolute;
    z-index: -1;
}
.menu {
    font-size: 22px;
    text-align: right;
    margin-bottom: 10px;
    overflow: auto;
    cursor: default;
}
.menu .title a {
    float: left;
    font-family: 'Roboto Mono', Helvetica, sans-serif;
    font-weight: bold;
    color: #FFA500;
    padding-left: 1em;
}
.menu .links li {
    display: inline;
    margin-right: 20px;
}
.content {
    margin: 20px 0;
}
.content .article {
    padding: 0 32px;
}
.content .article-list {
    list-style-type: none;
    margin-left: 10em;
}
.content .article-list li {
    margin-top: 0.5em;
    background: url("/assets/icons/circle.svg") no-repeat;
    background-position: left center;
    padding-left: 25px;
}
.footer {
    margin: 5px;
    font-size: .7em;
    font-style: italic;
}
hr {
    margin-top: 10px;
    border: none;
    border-top: 1px solid #FFA500;
}
.big {
    border-top-width: 3px;
}
@media only screen and (max-width:720px) {
    body {
        margin: 0;
        margin-bottom: 30px;
    }
    .content .article-list {
    margin-left: 1em;
}
}
@media only screen and (max-width:500px) {
    .menu .title {
        text-align: center;
        width: 100%;
        margin-bottom: 10px;
    }
    .menu {
        text-align: center;
    }
}