@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 18px;
    color: #222;
    padding: 10px;
    max-width: 700px;
    min-width: 280px;
    text-align: justify;
    margin: 20px auto;
}
h1 {
    font-size: 24px;
    margin-bottom: 0;
    margin: 10px 0;
    text-align: left;
}
ul {
    line-height: 25px;
    margin-left: 20px;
}
a {
    color: #222;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.menu {
    font-size: 22px;
    text-align: right;
    margin-bottom: 10px;
    overflow: auto;
    cursor: default;
}
.menu .title a {
    float: left;
    font-weight: bold;
    color: #FFA500;
    margin-left: 20px;
}
.menu .links li {
    display: inline;
    margin-right: 20px;
}
.content {
    margin: 20px 0;
}
hr {
    margin-top: 10px;
    border: none;
    border-top: 1px solid #FFA500;
}
.big {
    border-top-width: 3px;
}
@media only screen and (max-width:720px) {
    body {
        margin: 0;
        margin-bottom: 30px;
    }
}
@media only screen and (max-width:500px) {
    .menu .title {
        text-align: center;
        width: 100%;
        margin-bottom: 10px;
    }
    .menu {
        text-align: center;
    }
}